
    /* min-width */
@media screen and (min-width: 992px) {
           
}
 
/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
           
}
 
/* max device width */
@media screen and (max-device-width: 480px) {
           
}

/* max device width */
@media screen and (max-device-width: 640px) {
           
}
body {

  /**background-color:#1863D6;**/
  /*background:#269EFD;*/
  background: #3366CC;
  width:auto; 
  height:auto; 
  /*margin-top:80px;*/
   
}
    /* min-width */
@media screen and (min-width: 900px) {
  
}
 
/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
  
}
 
/* max device width */
@media screen and (max-device-width: 480px) {
    
}


#titulo-pedido {

  top:-10px;
  position: relative;
  font-weight: normal;
  text-align:center;
  background-color:#3399FF;
  color:white;
  

  
}


#titulo-pedido-total {
  top:-10px;
  position: relative;
  font-weight: normal;
  text-align:left;
  background-color:#3399FF;
  color:white;
  /**border: 5px solid white;*/
  border:5px
  height:auto;
  

  
}

#titulo-pedido-fechamento {
  top:-18px;
  position: relative;
  font-weight: normal;
  text-align:center;
  background-color:#3399FF;
  color:white;
  

  
}


#portador {

color:white;
float:right;
margin-top:-300px;




}

/*input[type=text]{   
    font-family:"helvetica";
    font-size:medium;
    font-weight: bolder;
    border-radius:2px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    color:black;
    background: white; 
    border: 2px solid #3399FF;/**Borda sólida **/
    /**width:160px;
    height:45px;
}**/

    

#borda-pedido {
  text-align: center;
  font-size: 30px;
  background-color: #3399FF;
  text-align: left;
  color:white;
  border-radius:1px;

}


@media only screen and (max-width: 330px) {
    div {
        width: 250px;
    }
}




div#teste-btn {
   width: 1000px;
   margin: 0 auto;

 
}


div#lista-produtos{
  margin-top:-270px;
  margin-left:733px;
  max-width: 590px;
  max-height: 300px;
  background: #FFFFB3;
  overflow-y: scroll;
}

table {
  width: 100%;
}

#tabelas{

    text-align:left;
    color:black;
    background-color:white;
    border: 1px solid #000;
   border-radius:1px;

}

#tabelas-coluna{
	  font-family: "Lucida Sans Unicode";
    font-weight: normal;
    position:relative;
    text-align:left;
    background: #FFFFB3;
    color:black;
    /*background:white;*/
    border-radius:1px;
}



#tabelas-itens{
	  
	 font-family:"Lucida Sans Unicode";
	 font-style:flex;
   font-weight:normal;
   font-size:10pt;
   text-align:left;
   /*background:white;*/
   background: #FFFFB3;
   color:black;
   /*border: 1px solid #000;*/
   border-radius:1px;
}

#tabelas-quantidade{
    
   font-family:"Lucida Sans Unicode";
   font-style:flex;
   font-size:10pt;
   text-align:center;
   font-weight: normal;
   /*background:white;*/
   background: #FFFFB3;
   color:black;
   /*border: 1px solid #000;*/
   border-radius:1px;
}

#dados-cupom {
  margin-top:10px;
  font-family:"Lucida Sans Unicode";        
  text-align:center;
  font-size:small;
  font-weight: normal;

}

#dados-cupom-itens {
  font-family:"Lucida Sans Unicode";        
  font-align:left;
  font-size:small;
  font-weight: normal;

}



#dados-cupom-naofiscal {
  font-family:"Lucida Sans Unicode";
  text-align: center;
  font-size:large;
  font-weight: bolder;

}


#titulo-programas {
	background-color: black;
	color:white;

}

#descricao {
  font-family:cursive;
  font-weight: bold;
  font-size: 35px;
  color:red;



}
#descricao-nao-cadastrado {
  font-family:cursive;
  font-weight: bold;
  font-size: 35px;
  color:black;

}

#borda-produto{

   background-color:#3388FF;
  color:white;
  text-align:center;

}

#borda{

  background-color:#3388FF;
  color:white;
  text-align:center;
  text-transform: capitalize;

}
             
#borda-descricao {
  margin-top:20px;
  font-family: monospace;
  font-weight: bolder;
  font-size:large;
  font-stretch: extra-condensed;
  font-stretch:inherit;
  text-align: center;
  color:black;
  background-color:white;
  border-radius: 15px;
  /*clear:both; */
  padding: 20px, 20px, 20px, 20px;
  box-sizing: 50px;

  width: 88%; /* largura do box */
  height: 8%; /* altura do box */
  padding: 0 5%; /* padding à esquerda e à direita */ 
  border: solid #3399FF;
  border-width: 0 1%; /* borda à esquerda e à direita */

}




#titulo{
font-size: 20px;
font-family:verdana;
font-weight: bold;
color:white;


}


#borda-quantidade {
  position:relative;
  margin-top:10px;
  font-weight: bold;
  text-align: left;
  color:black;
  background-color:white;
  border-radius: 6px;
  box-sizing: 50px;

  width: 16%; /* largura do box */
  height:16%;
  padding: 0 5%; /* padding à esquerda e à direita */
  border: solid #3399FF;
  border-width: 0 1%; /* borda à esquerda e à direita */

} 


#fechamento-campos{

  
  font-family:"helvetica";
  color:red;
  font-size:25px;
  font-weight:bold;
  border-radius:2px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid #3399FF;/**Borda sólida **/
  width:160px;
  height:45px;
  margin-top:-20px;



}

#fechamento-campos-pagamento{

  
  font-family:"helvetica";
  color:black;
  font-size:25px;
  font-weight:bold;
  border-radius:2px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid #3399FF;/**Borda sólida **/
  width:160px;
  height:45px;
  margin-top:-20px;



}

.pedido-campos{

  
  font-family:"helvetica";
  color:black;
  font-size:medium;
  font-weight: bolder;
  border-radius:25px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid #3399FF;/**Borda sólida **/
  width:160px;
  height:45px;
  margin-top:-20px;



}

.pedido-campos-subtotal{

  
  font-family:"helvetica";
  color:red;
  font-size:medium;
  font-weight: bolder;
  border-radius:25px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid #3399FF;/**Borda sólida /
  /*border: 2px solid black;/**Borda sólida **/
  width:160px;
  height:45px;
margin-top:-20px;



}
.pedido-campos-busca{

  
  font-family:"helvetica";
  color:black;
  font-size:medium;
  font-weight:bold;
  border-radius:25px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid #3399FF;/**Borda sólida **/
  width:160px;
  height:45px;
  margin-top:-20px;



}

.esper{
  width:900px;
  height:50px;
  font-family:"helvetica";
  color:black;
  font-size:30px;
  font-weight:bold;
  border-radius:5px;
  text-align: center;
  -moz-border-radius:3px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid ;/**Borda sólida **/
  border-radius: 9px;
  margin-top:-270px;
  margin-left:590px;
  max-width: 590px;
  max-height: 300px;
  background: white;

}

.impressao-cupom{
margin-top:10px;
font-family:"Lucida Sans Unicode";
text-align:center
font-size:small;
font-weight: bolder;
width:360px;
height:auto;
background:white;
border:1px solid black;
border-radius: 1px;  


}


#fechamento{
position:absolute;
margin-top:50px;

}

#canc-item{
color:red;
position:absolute;
margin-top:50px;
margin-left:160px;

}

#canc-nota{
position:absolute;
margin-top:220px;
margin-left:380px;

}



#subtotal {
display:block;
padding:7px 7px 7px 7px;
font-weight: bolder;
color:red;
font-size:30px;



}

#valor-unit {
display:block;
padding:7px 7px 7px 7px;
font-weight: bolder;
font-size:30px;


}

#btn {
  font-style:normal;
  font-family:verdana;
  font-size:14px;
  font-weight: bolder;
  background-color:#3399FF;
  color:white;
  border:5px solid:black;
  border-radius:5px;
  width:150px;
  height:30px;
  
  
  }


#btn-inclui {
  font-style:normal;
  font-family:verdana;
  font-size:14px;
  font-weight: bolder;
  background-color:#3399FF;
  color:white;
  border:5px solid:black;
  border-radius:5px;
  width:150px;
  height:30px;
  margin-top:100px;
  
  }








#btn:hover{
  color:white;
  background-color:#3366FF;
}

#btn-encerra {
  position:static;
  margin-left:400px;
  font-style:normal;
  font-size:15px;
  font-weight: bolder;
  background-color:#3399FF;
  color:white;
  border:3px ;
  border-radius:5px;
  
  }


  #btn-continuar {
  clear:both;
  float:right;
  margin-top:-19px;
  margin-right:600px;
  position:static;
  font-style:normal;
  font-size:15px;
  font-weight: bolder;
  background-color:#3399FF;
  color:white;
  border:3px ;
  border-radius:5px;
  
  }
  
  
#total{

  font-family:"helvetica";
  display:block;
  padding:7px 7px 7px 7px;
  font-weight: bolder;
  color:red;
  font-size:30px;
  border-radius:2px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid #3399FF;/**Borda sólida **/
  width:160px;
  height:45px;
  margin-top:-20px;


}  







































	






























