body {


  /*background:#269EFD;*/

 
}



#titulo-pedido {
  top:-10px;

  position: relative;
  text-align:center;
  background-color:#1806FF;
  color:white;
  /**border: 5px solid white;*/
  border:5px
  height:auto;
  

  
}

#titulo-pedido-total {
  top:-10px;
  position: relative;
  font-weight: normal;
  text-align:left;
  background-color:#1806FF;
  color:white;
  /**border: 5px solid white;*/
  border:5px
  height:auto;
  

  
}


#portador {

color:white;
float:right;
margin-top:-300px;




}

#footer-pedido{
background-color:#1806FF;
color:white;



}


/*input[type=text]{   
    font-family:"helvetica";
    font-size:medium;
    font-weight: bolder;
    border-radius:2px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    color:black;
    background: white; 
    border: 2px solid #3399FF;/**Borda sólida **/
    width:160px;
    height:45px;
}*/

    

#borda-pedido {
  text-align: center;
  font-size: 30px;
  background-color: #3399FF;
  text-align: left;
  color:white;
  border-radius:1px;

}

#botoes {
  clear:both;
  float:left;
  margin-top:300px;
  padding:30px 30px 30px 30px;



/*}

#btn-pedido-incluir  {
   color:white;
   border: 1px solid #000;
   border-radius: 5px;
   background:#3399FF;
   padding: 5px 5px 5px 5px;
   margin-left:5px;
   margin-top:100px;

}

#btn-pedido-incluir:hover {
background: silver;

}

#btn-pedido-canc {
   color:white;
   border: 1px solid #000;
   border-radius: 5px;
   background: #3399FF;
   padding: 5px 5px 5px 5px;
   margin-left:10px;


}

#btn-pedido-canc:hover {
background: silver;

}

#btn-pedido-fechamento {
   color:white;
   border: 1px solid #000;
   border-radius: 5px;
   background:#3399FF;
   padding: 5px 5px 5px 5px;
   margin-left:300px;
   margin-top:20px;

}

#btn-pedido-fechamento:hover {
background: silver;

}

#btn-pedido-encerra  {
   color:white;
   float:right;
   margin-top:-200px;
   border: 1px solid #000;
   border-radius: 5px;
   background:#3399FF;
   padding: 5px 5px 5px 5px;
   margin-left:5px;
   /*margin-top:100px;*/

} **//

@media only screen and (max-width: 330px) {
    div {
        width: 250px;
    }
}

div#teste-btn {
   width: 1000px;
   margin: 0 auto;

 
}


div#lista-produtos{
  margin-top:-290px;
  margin-left:733px;
  max-width: 590px;
  max-height: 300px;
  background: #FFFFB3;
  overflow-y: scroll;
}

table {
  width: 100%;
}

#tabelas{

    text-align:left;
    color:black;
    background-color:white;
    border: 1px solid #000;
   border-radius:1px;

}

#tabelas-coluna{
	  font-family: "Lucida Sans Unicode";
    font-weight: normal;
    position:relative;
    text-align:left;
    background: #FFFFB3;
    color:black;
    /*background:white;*/
    border-radius:1px;
}



#tabelas-itens{
	  
	 font-family:"Lucida Sans Unicode";
	 font-style:flex;
   font-weight:normal;
   text-align:left;
   /*background:white;*/
   background: #FFFFB3;
   color:black;
   /*border: 1px solid #000;*/
   border-radius:1px;
}

#tabelas-quantidade{
    
   font-family:"Lucida Sans Unicode";
   font-style:flex;
   text-align:center;
   font-weight: normal;
   /*background:white;*/
   background: #FFFFB3;
   color:black;
   /*border: 1px solid #000;*/
   border-radius:1px;
}

#dados-cupom {
  margin-top:10px;
  font-family:"Lucida Sans Unicode";        
  font-align:center;
  font-size:small;
  font-weight:bolder;



}

#dados-cupom2{
  margin-top:10px;
  font-family:"Lucida Sans Unicode";        
  font-align:center;
  font-size:small;
  font-weight:normal;



}

#dados-cupom-itens {
  font-family:"Lucida Sans Unicode";        
  text-align:left;
  font-size:small;
  font-weight: normal;

}

#dados-cupom h1, h2, h4,h5, h6 {
  margin-top:10px;
  font-family:"Lucida Sans Unicode";        
  text-align:center;
  font-size:small;
  font-weight: normal;

}


#dados-cupom-naofiscal {
  font-family:"Lucida Sans Unicode";
  text-align: center;
  font-size:large;
  font-weight: bolder;

}


#titulo-programas {
	background-color: black;
	color:white;

}

#descricao {

  font-family:cursive;
  font-weight: bold;
  font-size: larger;



}
             
#borda-descricao {
  margin-top:20px;
  font-family: monospace;
  font-weight: bolder;
  font-size:large;
  font-stretch: extra-condensed;
  font-stretch:inherit;
  text-align: center;
  color:black;
  background-color:white;
  border-radius: 15px;
  /*clear:both; */
  padding: 20px, 20px, 20px, 20px;
  box-sizing: 50px;

  width: 88%; /* largura do box */
  height: 8%; /* altura do box */
  padding: 0 5%; /* padding à esquerda e à direita */ 
  border: solid #3399FF;
  border-width: 0 1%; /* borda à esquerda e à direita */

}




#titulo{
color:white;


}


#borda-quantidade {
  position:fixed;
  margin-top:10px;
  font-weight: bold;
  text-align: left;
  color:black;
  background-color:white;
  border-radius: 6px;
  box-sizing: 50px;

  width: 16%; /* largura do box */
  height:16%;
  padding: 0 5%; /* padding à esquerda e à direita */
  border: solid #3399FF;
  border-width: 0 1%; /* borda à esquerda e à direita */

} 


.fechamento-campos{

  
  font-family:"helvetica";
  color:red;
  font-size:large;
  font-weight:normal;
  border-radius:2px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid #3399FF;/**Borda sólida **/
  width:160px;
  height:45px;
  margin-top:-20px;



}

.pedido-campos{

  
  font-family:"helvetica";
  color:black;
  font-size:large;
  font-weight: bolder;
  border-radius:25px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid #3399FF;/**Borda sólida **/
  width:160px;
  height:45px;
margin-top:-20px;



}
.pedido-campos-busca{

  
  font-family:"helvetica";
  color:black;
  font-size:medium;
  font-weight:bold;
  border-radius:25px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 2px solid #3399FF;/**Borda sólida **/
  width:160px;
  height:45px;
 margin-top:-20px;



}

.esper{

font-family:"helvetica";
  color:black;
  font-size:medium;
  font-weight:bold;
  border-radius:5px;
  text-align: center;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: white; 
  border: 1px solid ;/**Borda sólida **/
  width:900px;
  height:50px;

  margin-top:-290px;
  margin-left:590px;
  max-width: 590px;
  max-height: 300px;
  background: white;

}

.impressao-cupom{
margin-top:10px;
font-family:"Lucida Sans Unicode";
text-align:center
font-size:small;
font-weight: bolder;
width:360px;
height:auto;
background:white;
border:1px solid black;
border-radius: 1px;  


}

#lista-cupom{

  max-width: 300pt;
  max-height: 300pt;

}

